{% extends 'adverse_effects/base.html' %}
{% load bootstrap static %}

{% block content %}
    <div class="row">
        {% if msg %}
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                {{ msg }}
            </div>
        {% endif %}
        <div class='col-sm-6 col-sm-offset-3'>
            <form action="" method="POST" class="form-group">
                {% csrf_token %}
                {#                {{ form|bootstrap }}#}

                    <div class="form-group">
                        <label class="control-label  " for="id_drug">Drug</label>
                        <div class=" ">
                            <select name="drug" class=" form-control" required="" id="id_drug">
                                <option value="" selected="">---------</option>
                                {% for d in drugs %}
                                    <option value="{{ d }}" {% if d == drug %}selected{% endif %}>{{ d }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label  " for="id_name">Adverse Effect</label>
                        <div class=" ">
                            <input type="text" name="name" maxlength="50" class=" form-control" required="" id="id_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label  " for="id_bodypart">Bodypart</label>
                        <div class=" ">
                            <select name="bodypart" class=" form-control" required="" id="id_bodypart">
                                <option value="" selected="">---------</option>
                                <option value="Head">Head</option>
                                <option value="Eye">Eye</option>
                                <option value="Nose">Nose</option>
                            </select>
                        </div>
                    </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}
