{% extends "adverse_effects/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h2>Search Adverse Effects</h2>
            <p>You can search a drug's adverse effects here </p>
        </div>
        <div class="col-md-4">
            <h2>Search active ingredients</h2>
            <p>You can search the active ingredients of a drug here</p>
        </div>
        <div class="col-md-4">
            <h2>Suggest and Adverse Effect</h2>
            <p>You can suggest an adverse effect for a drug here.</p>
        </div>
    </div>

{% endblock %}
